.popup {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  border-radius: 15px;
  background: #262626;
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  color: #FAF9F9;
  font-family: Inter, sans-serif;
}
.popup .exit{
  display: flex;
  justify-content: flex-end;
}
.popup .exit button{
  background: none;
  border: none;
  padding: 0;
}
.popup .exit img{
  width: 1vw;
  margin-top: 1vw;
  cursor: pointer;
}
.popup .content{
  display: flex;
  justify-content: space-between;
  margin: 1vw 3vw;
}
.popup h2{
  color: #16C79A;
  font-size: 96px;
  margin: 0;
  line-height: 100px;
}
.popup .infos{
  display: flex;
  font-size: 24px;
}
.popup .infos p{
  margin: 0.8vw 0;
}
.popup .date::after{
  content:"";
  width: 0px;
  height: 27px;
  border: 2px solid #16C79A;
  border-radius: 5px;
  margin: 0 0.9vw;
}
.popup .meta-rating{
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
}
.popup .rating{
  margin-right: 1vw;
}
.popup .rating img {
  width: 1.8vw;
  margin-right: 0.2vw;
}
.popup .meta{
  margin: 0 0 0 1vw;
  padding: 0.1vw 0.4vw;
  background: #FAF9F9;
  border-radius: 4px;
  color: #4E4E4E;
}
.popup .textFilm{
  padding-right: 8vw;
}
.popup .textFilm p{
  margin: 0;
}
.popup .category{
  font-weight: bold;
}
.popup .synopsis p{
  margin: 0 0 2vw 1vw;
}
.popup .synopsis::before{
  content:"";
  position: absolute;
  width: 0px;
  height: 8.5vh;
  border: 2px solid #16C79A;
  border-radius: 5px;
}
.popup .distrib{
  margin-bottom: 2vw;
  position: relative;
}
.popup .distrib::before{
  content:"";
  position: absolute;
  width: 0px;
  height: 19.5vh;
  border: 2px solid #16C79A;
  border-radius: 5px;
}
.popup .distrib p{
  margin-left: 1vw;
}
.popup .distrib .details{
  margin-bottom: 1vw;
}
.popup .disponibility p {
  margin-left: 1vw;
}
.popup .disponibility::before{
  content:"";
  position: absolute;
  width: 0px;
  height: 4vh;
  border: 2px solid #16C79A;
  border-radius: 5px;
}
.popup .poster{
  width: 23vw;
  box-shadow: 0px 20px 100px 10px rgba(0, 0, 0, 0.55);
}
.popup .trailer{
  color: #16C79A;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3vw;
}
.popup .trailer p{
  font-size: 24px;
  font-weight: bold;
  margin: 0.8vw 0;
}
.popup .trailer img{
  width: 1.8vw;
  margin-left: 1vw;
}