.popup {
  /* height: fit-content; */
  position: fixed;
  left: 15%;
  right: 15%;
  top: 5%;
  bottom: 5%;
  margin: 2vh;
  border-radius: 15px;
  background: #262626;
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  color: #FAF9F9;
  font-family: Inter, sans-serif;
  overflow-y: scroll;
}
.popup::-webkit-scrollbar {
  display: none;
}
.popup {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.popup .content{
  display: flex;
  justify-content: space-between;
  margin: 3vw 3vw;
}
.popup h2{
  color: #16C79A;
  font-size: 96px;
  margin: 0;
  /* line-height: 100px; */
}
.popup .infos{
  display: flex;
  font-size: 24px;
}
.popup .infos p{
  margin: 0.8vw 0;
}
.popup .date{
  border-right : 2px solid #16C79A;
  padding-right: 8px;
}
.popup .genre{
  padding-left: 8px;
}
.popup .meta-rating{
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
}
.popup .rating{
  margin-right: 1vw;
}
.popup .rating img {
  width: 1.8vw;
  margin-right: 0.2vw;
}
.popup .meta{
  margin: 0 0 0 1vw;
  padding: 0.1vw 0.4vw;
  background: #FAF9F9;
  border-radius: 4px;
  color: #4E4E4E;
  font-size: 14px;
}
.popup .textFilm{
  padding-right: 8vw;
}
.popup .textFilm p{
  margin: 0;
}
.popup .category{
  font-weight: bold;
}
.popup .synopsis p{
  margin: 0 0 2vw 1vw;
  font-size: 16px;
}
.popup .synopsis{
  border-left : 0.25vw solid #16C79A;
}
.popup .distrib{
  margin-bottom: 2vw;
  position: relative;
  border-left : 0.25vw solid #16C79A;
}
.popup .distrib p{
  margin-left: 1vw;
  font-size: 16px;
}
.popup .distrib .details{
  margin-bottom: 1vw;
}
.popup .disponibility p {
  margin-left: 1vw;
  font-size: 16px;
}
.popup .disponibility{
  border-left : 0.25vw solid #16C79A;
}
.popup .poster{
  width: 20vw;
  box-shadow: 0px 20px 100px 10px rgba(0, 0, 0, 0.55);
}
.popup .poster-placement{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.popup .trailer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3vw;
  margin: 0 0 2vw 0;
}
.popup .trailer p{
  color: #FAF9F9;
  font-size: 24px;
  font-weight: bold;
}
.popup .trailer p:hover{
  color: #16C79A;
  transition: .2s;
  cursor: pointer;
}
.popup .trailer img{
  width: 2vw;
  margin-left: 1vw;
}
.popup .trailer img:hover{
  cursor: pointer;
}
.popup .movie-page a {
  color: #FAF9F9;
  text-decoration: none;
  font-size: 16px;
}
.popup .movie-page a:hover{
  color: #16C79A;
  cursor: pointer;
}
.popup .phone-visibility{
  display: none;
}
@media all and (max-width: 1200px){
  .popup h2{
    font-size: 78px;
  }
}

@media all and (max-width: 1024px){
  .popup h2{
    font-size: 60px;
  }
  .popup .infos{
    font-size: 20px;
  }
  .popup .meta{
    font-size: 10px;
  }
  .popup .synopsis p{
    font-size: 12px;
  }
  .popup .distrib p{
    font-size: 12px;
  }
  .popup .disponibility p {
    font-size: 12px;
  }
  .popup .trailer p{
    font-size: 20px;
  }
  .popup .movie-page a {
    font-size: 12px;
  }
}

@media all and (max-width: 768px){
  .popup h2{
    font-size: 50px;
  }
  .popup .infos{
    font-size: 16px;
  }
  .popup .meta{
    font-size: 8px;
  }
  .popup .synopsis p{
    font-size: 10px;
  }
  .popup .distrib p{
    font-size: 10px;
  }
  .popup .disponibility p {
    font-size: 10px;
  }
  .popup .trailer p{
    font-size: 18px;
  }
  .popup .movie-page a{
    font-size: 10px;
  }
  .popup .pc-visibility{
    display: none;
  }
  .popup .phone-visibility{
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2vh;
  }
  .popup .exit button{
    cursor: pointer;
    background: none;
    border: none;
    padding : 1vw 1vw 0 0;
  }
}

@media all and (max-width: 480px){
  .popup h2{
    font-size: 35px;
  }
  .popup .infos{
    font-size: 16px;
  }
  .popup .meta{
    font-size: 8px;
  }
  .popup .synopsis p{
    font-size: 10px;
  }
  .popup .distrib p{
    font-size: 10px;
  }
  .popup .disponibility p {
    font-size: 10px;
  }
  .popup .trailer p{
    font-size: 18px;
  }
  .popup .movie-page a{
    font-size: 10px;
  }
  .popup .pc-visibility{
    display: none;
  }
  .popup .phone-visibility{
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2vh;
  }
  .popup .rating img {
    width: 3vw;
    margin-right: 0.2vw;
  }
}
h2.longTitle{
  font-size: 50px;
}