@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

::selection {
    color: #ffffff;
    background: #16C79A;
}

body
{
    margin: 0;
    overflow-x: hidden;
}

.genre-container
{
    width: 100vw;
    background: #141414;
    padding-top: 20px;
    padding-bottom: 20px;
}

.genre-title-container
{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
}

.genre-title
{
    padding-left: 10px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #ffffff;
    transition: .2s;
}

.genre-title:hover
{
    padding-left: 15px;
}

.genre-title-bar
{
    margin-left: 8px;
    border-radius: 1px;
    margin-top: 5px;
    width: 80px;
    height: 5px;
    background: #ffffff;
}

.length-container
{
    width: 100vw;
    background: #141414;
    padding-top: 20px;
    padding-bottom: 20px;
}

.length-title-container
{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
}

.length-title
{
    padding-left: 10px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #ffffff;
    transition: .2s;
}

.length-title:hover
{
    padding-left: 15px;
}

.length-title-bar
{
    margin-left: 8px;
    border-radius: 1px;
    margin-top: 5px;
    width: 80px;
    height: 5px;
    background: #ffffff;
}

.providers-container
{
    width: 100vw;
    background: #141414;
    padding-top: 20px;
    padding-bottom: 20px;
}

.providers-title-container
{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
}

.providers-title
{
    padding-left: 10px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #ffffff;
    transition: .2s;
}

.providers-title:hover
{
    padding-left: 15px;
}

.providers-title-bar
{
    margin-left: 8px;
    border-radius: 1px;
    margin-top: 5px;
    width: 80px;
    height: 5px;
    background: #ffffff;
}

.boxtags-container
{
    width: 60vw;
    display: flex;
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
}

.boxtag
{
    margin: 0;
    margin: 10px;
    border-radius: 30px;
    list-style: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxtag .boxtag-label
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background: #6D6D6D;
    height: 40px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(191, 191, 191);
    cursor: pointer;
    transform: scale(0.95);
    box-shadow: 1px 7px 25px -4px rgba(150, 142, 142, 0.43);
    transition: .2s;
}

.boxtag .boxtag-label:hover
{
    color: #ffffff;
    background: rgb(161, 171, 161);
    transform: scale(0.9);
    box-shadow: 1px 7px 25px -4px rgba(150, 142, 142, 0.83),
                inset 0 0 10px rgba(245, 245, 245, 0.13),
                inset 5px 0 20px rgba(92, 248, 100, 0.23),
                inset -5px 0 20px rgba(0, 255, 255, 0.23),
                0 0 20px rgba(255, 255, 255, 0.23),
                -10px 0 20px rgba(92, 248, 100, 0.23),
                10px 0 20px rgba(0, 255, 255, 0.23);
}

.boxtag .boxtag-label:active
{
    transform: scale(0.85);
}

.boxtag-input
{
    display: none;
}

.boxtag-input:checked + .boxtag-label
{
    color: #ffffff;
    transform: scale(1);
    background: #16C79A;
    box-shadow: 1px 7px 25px -4px rgba(101, 165, 97, 0.83);
}

.boxtag-input:checked + .boxtag-label:hover
{
    transform: scale(0.95);
    box-shadow: 1px 7px 25px -4px rgba(150, 142, 142, 0.83),
                inset 0 0 10px rgba(245, 245, 245, 0.23),
                inset 5px 0 20px rgba(92, 248, 100, 0.43),
                inset -5px 0 20px rgba(0, 255, 255, 0.43),
                0 0 20px rgba(255, 255, 255, 0.23),
                -10px 0 20px rgba(92, 248, 100, 0.43),
                10px 0 20px rgba(0, 255, 255, 0.43);
}
.searchbar
{
    margin: 0;
    margin: 10px;
    border-radius: 30px;
    list-style: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-input
{
    border: none;
    outline: none;
    width: 45vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 45px;
    padding-right: 20px;
    border-radius: 20px;
    background: #6D6D6D;
    height: 35px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(191, 191, 191);
    box-shadow: 1px 7px 25px -4px rgba(150, 142, 142, 0.43);
    transition: .2s;
    background-image: url("https://i.imgur.com/bkC5Gg0.png");
    background-size: 2.8%;
    background-position: left 12px center;
    background-repeat: no-repeat;
}

::placeholder
{
    color: rgb(191, 191, 191);
}

.searchbar-input:focus
{
    color: rgb(201, 201, 201);
    transform: scale(0.98);
    box-shadow: 1px 7px 25px -4px rgba(150, 142, 142, 0.43),
                inset 0 0 10px rgba(245, 245, 245, 0.1),
                inset 5px 0 20px rgba(92, 248, 100, 0.1),
                0 0 20px rgba(255, 255, 255, 0.1);
}


/********
 Movie list
********/

.movie-list-container
{
    background: #141414;
}

.movie-list
{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-list .movie-card
{
    width: 250px;
    height: 375px;
    overflow: hidden;
    border: none;
    background: #141414;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 1);
    transition: .5s;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    opacity: 100%;
    outline: none;
}

.movie-list .movie-card:hover
{
    transform: scale(0.98);
    background-size: 112%;
    transition: 1s;
    opacity: 80%;
}

.movie-list .movie-card p 
{
    opacity: 0%;
    transition: .5s;
    color: #ffffff;
    font-family: "Inter";
    font-weight: 700;
    font-size: 25px;
    text-shadow: 0px 3px 10px #000;
}

.movie-list .movie-card:hover p 
{
    opacity: 100%;
    transition: 1s;
}