*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: SF Pro Display, sans-serif;
    background-color: #fff;
    color: #1d1d1c;
}

a, a:visited, a:hover {
    text-decoration: none;
}

:root {

}